@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<div style="margin-top:20px;" class="jumbotron">
    <h1>Contact Us</h1>
    <p class="lead">
        Disease, sickness, and old age touch every family. Tragedy doesn't ask who you voted for.
        Health care is a basic human right.
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a href="tel:+123456789">
                        <i class="fas fa-phone fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                        <p class="d-none d-lg-block d-xl-block">+123456789</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a href="">
                        <i class="fas fa-home fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                        <p class="d-none d-lg-block d-xl-block">Piazza del Colosseo, 1, 00184 Roma RM</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-4 box3 pt-4">
                        <a href="mailto:test@test.com">
                            <i class="fas fa-envelope fa-3x"></i>
                            <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                            <p class="d-none d-lg-block d-xl-block">test@test.com</p>
                         </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
