@{
    ViewBag.Title = "Home Page";
}

<div>
    <img style="margin-top:20px; border: ridge " src="../Content/Images/logo.jpg" alt="Card image cap">
</div>

<div style="padding-left: 250px; padding-bottom: 20px; padding-top: 20px" class="row">
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <div style="padding-top:15px; color: lightsteelblue; text-align: center; font-size: 30px"><i class="glyphicon glyphicon-user"></i></div>
                
                <h3 style="text-align: center">Doctor</h3>

                <p style="text-align: justify ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <div style="padding-top:15px; color: lightsteelblue; text-align: center; font-size: 30px"><i class="glyphicon glyphicon-calendar"></i></div>
                <h3 style="text-align: center">Appointment</h3>
                <p style="text-align: justify ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <div style="padding-top:15px; color: lightsteelblue; text-align: center; font-size: 30px"><i class="glyphicon glyphicon-th-list"></i></div>
                <h3 style="text-align: center">Patient</h3>
                <p style="text-align: justify ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
            </div>
        </div>
    </div>
</div>


    <div class="jumbotron">
        <div class="row">
             <div class="col-md-4">
                <h2>Our Services</h2>
                <p style="text-align: justify;  font-size: 16px"">
                    Medical News Today attend ed the Future Healthcare Exhibition and Conference.
                    Delegates presented us with technology.
                    Medical News Today attended the Future Healthcare Exhibition and Conference.
                    Delegates presented us with technology.
                </p>
            </div>

            <div class="col-md-4">
                <h2>Appointment</h2>
                <p style="text-align: justify;  font-size: 16px"">
                    Medical News Today attended the Future Healthcare Exhibition and Conference.
                    Delegates presented us with technology.
                    Medical News Today attended the Future Healthcare Exhibition and Conference.
                    Delegates presented us with technology.
                </p>
            </div>

            <div class="col-md-4">
                <h2>About Us</h2>
                <p style="text-align: justify; font-size: 16px">
                    Medical News Today attended the Future Healthcare Exhibition and Conference.
                    Delegates presented us with technology.
                    Medical News Today attended the Future Healthcare Exhibition and Conference.
                    Delegates presented us with technology.
                </p>
            </div>
        </div>
</div>

<hr/>
    <h1 style="font-style: italic;  text-align: center; ">Never give up...</h1> 
<hr />

    <div class="row">
        <div class="col-md-4">
            <h3>Innovations from Future Healthcare 2019</h3>
            <p style="text-align: justify ">
                Medical News Today attended the Future Healthcare Exhibition and Conference.
                Delegates presented us with technology.
            </p>
            <p><a class="btn btn-default" href="https://www.medicalnewstoday.com/articles/324765.php">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h3>AI in healthcare: separating myth from reality</h3>
            <p style="text-align: justify ">
                At the HIMSS Machine Learning & AI event, Dr. Anthony Chang, chief
                intelligence and innovation officer at CHOC Children's, cleared up some common misconceptions.
            </p>
            <p><a class="btn btn-default" href="https://www.healthcareitnews.com/news/ai-healthcare-separating-myth-reality">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h3>Symptoms of 12 Serious Diseases and Health Problems</h3>
            <p style="text-align: justify ">
                When is a cough "just" a cough, or a headache a symptom to be concerned about?
                Listed are signs and symptoms that could indicate a serious health condition.
            </p>
            <p><a class="btn btn-default" href="https://www.medicinenet.com/symptoms_of_serious_diseases_and_health_problems/article.htm#symptoms_of_12_serious_diseases_and_health_problems_facts">Learn more &raquo;</a></p>
        </div>
    </div>
