
@{
    ViewBag.Title = "Service";
}

<div style="margin-top:20px;" class="jumbotron">
    <h1>Our Services</h1>
    <p class="lead">Disease, sickness, and old age touch every family. Tragedy doesn't ask who you voted for. 
    Health care is a basic human right.</p>
</div>

<div style="padding-top:20px;" class="row">  
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/3.jpg" alt="...">
            <h4 style="text-align: center; color: gray">Emergency 24 Hours</h4>
        </div>
    </div>

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/6.jpg" alt="...">
            <h4 style="text-align: center; color: gray;">Family medicine</h4>
        </div>
    </div>
    
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/5.jpg" alt="...">
            <h4 style="text-align: center; color: gray">Check Up</h4>
        </div>
    </div>

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/4.jpg" alt="...">
            <h4 style="text-align: center; color: gray">Infection</h4>
        </div>
    </div>

    <div style="padding-top: 20px" class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/1.jpg" alt="...">
            <h4 style="text-align: center; color: gray;">Alergologia</h4>
        </div>
    </div>

    <div style="padding-top: 20px" class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/2.jpg" alt="...">
            <h4 style="text-align: center; color: gray;">Cardiology</h4>
        </div>
    </div>

    <div style="padding-top: 20px" class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../Content/Images/7.jpg" alt="...">
            <h4 style="text-align: center; color: gray;">Laboratory</h4>
        </div>
    </div>
</div>
